@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #808080;
    font-family: 'Quicksand',Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: auto;
    max-width: 90%;
    padding: 10px 20px;
}

ul {
    list-style: none;
}

.logo-wrapper {
    width: 100px;
}

.logo-wrapper img {
    width: 100%;
}

@media all and (min-width: 650px) {
    body {
        width: 80%;
    }
}

@media all and (min-width: 1500px) {
    body {
        width: 70%;
    }
}

