@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Quicksand',Arial, Helvetica, sans-serif;
  color: #808080;
  font-size: 14px;
  margin: 0 5% 5% 5%;
}

ul {
    list-style: none;
}

.logo-wrapper {
    width: 100px;
}

.logo-wrapper img {
    width: 100%;
}

